
<form  #data="ngForm" (ngSubmit)="findTransactionById(data)">
    <div>
    <label>Id</label> 
    <input type="number" name="transactionid" ngModel>
    </div>
    <input type="submit">
    
    </form>
    
    <div>
    <h3>Found Transaction</h3>
    <div *ngIf="foundStatus==='found'">
        <table border="1">
            <tr>
                <th>id={{ foundTransaction.transactionid }}</th>
                <th>description={{ foundTransaction.description }}</th>
                <th>dateoftransaction={{ foundTransaction.dateoftransaction }}</th>
                <th>amount={{ foundTransaction.amount }}</th>
                <th>accountbalance={{ foundTransaction.accountbalance }}</th>
            </tr>
        </table>
    </div>
    
    <div *ngIf="foundStatus=='notfound'">
        Transaction not found !
    </div>
    
    </div>